<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<link rel="stylesheet" href="/static/css/mapcss.css" />
		<script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=QnzngPZcFnQZ4QTtxNSXP92byZOk3NPM"></script>
        	<script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-geocoding.js?key=QnzngPZcFnQZ4QTtxNSXP92byZOk3NPM"></script>
		
		
	</head>
	
	<body>

		
		<div id="map">
			<script>
				var raw = "{{ pois }}";
            			var newVar = raw.replace(new RegExp("&#39;", "g"), '"');
            
            			var pois = JSON.parse(newVar);
				console.log(pois);

				var popup = L.popup(),
					geocode,
					map;
				
				var map = L.map('map').setView([44.0519,-123.0867],13);
				L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
					attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,<a href="http://mapbox.com">Mapbox</a>',
					maxZoom: 18,
					id: 'emz.p27gahm1',
					accessToken: 'pk.eyJ1IjoiZW16IiwiYSI6ImNpazY1dHEyNjAwczR2Nmt0Njl1NzlsbTcifQ.aqwrXBnjoa4ShkryoqV99Q'
				}).addTo(map);


				for (i = 0; i < pois.length; i++) {


                			var latlng = L.latLng(pois[i][0], pois[i][1]);
					var marker = L.marker().setLatLng(latlng).addTo(map);
					var content = pois[i][2];
					var popup = L.popup().setLatLng(latlng).setContent(content);
					marker.bindPopup(popup);
				}
					
           
				function onClick(e){
					
					L.marker()
						.setLatLng(e.latlng)
						.addTo(map)
						
						
						.bindPopup(popup.setLatLng(e.latlng).openOn(this));
						
					geocode.reverse(e.latlng);
						
						
						
				}
				geocode = MQ.geocode().on('success', function(e) {
					popup.setContent(geocode.describeLocation(e.result.best));
				});
				map.on('click', onClick);
				
			</script>
		</div>
	</body>
</html>

